body {
    margin-left: 50px;
}
.text{
    font-size: 1em;
}
h2{
    text-align: center;
}
.contact-form {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 7em;
    margin-bottom: 7em;;
}
.form-group {
    padding-left: 2%;
    padding-right: 5%;
}
label {
    font-weight: bold;
}
input[type="text"],
textarea {
    width: 99%;
    padding: 10px;
    border: 2px solid #009879;
    border-radius: 4px;
}
input[type="checkbox"] {
    margin-right: 10px;
}
button {

    background-color:  #009879;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color:  #065c4b;
}
