h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h4 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    font-style: normal;
}

h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

sub {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

caption {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}