header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); 
}

.logo {
  font-size: 24px; 
}

.home-link {
  display: block; 
  font-size: 14px; 
  margin-top: 5px; 
  color: blue; 
  text-decoration: underline; 
}

.line-divider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  width: 20px; 
  height: 2px; 
  background-color: black;
  margin-bottom: 5px; 
}

.icons {
  display: flex;
  align-items: center;
}

.navigation {
  margin-right: 20px; 
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column; 
  gap: 10px; 
}

.navigation li {
  margin: 0%;
}

.navigation a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.shopping-list,
.weekly-plan {
  border: 1px solid black;
  padding: 10px;
  max-width: 150px; 
}

.shopping-list h2,
.weekly-plan h2 {
  font-size: 16px; 
  margin: 0; 
}

.shopping-list {
  margin-left: 20px; 
  margin-right: 20px;
}

.weekly-plan {
  margin-right: 20px; 
}

.list-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.bullet {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  margin-right: 10px;
}

.line {
  flex: 1;
  height: 1px;
  background-color: black;
  margin-right: 10px;
}

.week {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

.circle {
  width: 20px; 
  height: 20px;
  border: 1px solid black; 
  border-radius: 50%;
}

.info {
  text-align: center;
}

.number {
  font-size: 18px;
}

.abbreviation {
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  body {
      margin-left: 2%;
      margin-right: 2%;
  }
}

/* Für Tablets im Querformat */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  body {
      margin-left: 2%;
      margin-right: 2%;
  }
}

/* Für Tablets im Hochformat und kleine Desktops */
@media only screen and (min-width: 901px) and (max-width: 1200px) {
  body {
      margin-left: 6%;
      margin-right: 6%;
  }
}

/* Für größere Desktops */
@media only screen and (min-width: 1201px) {
  body {
      margin-left: 20%;
      margin-right: 20%;
  }
}
