/* Basis-Stile für den Button */
button {
    background-color: #009879; /* Hintergrundfarbe des Buttons */
    color: #fff; /* Textfarbe des Buttons */
    border: none; /* Entfernt den Rahmen des Buttons */
    padding: 0.5em 1em; /* Innenabstand des Buttons */
    margin: 1em 1em 1em 0em ;
    border-radius: 9px; /* Abgerundete Ecken des Buttons */
    cursor: pointer; /* Zeigt an, dass der Button anklickbar ist */
    transition: background-color 0.3s; /* Übergangseffekt für Hintergrundfarbe */
}

/* Hover-Effekt für den Button */
button:hover {
    background-color: #007b66; /* Ändert die Hintergrundfarbe bei Hover */
}

a {
    color: #333;
    /* Standardfarbe des Links */
    text-decoration: none;
    /* Entfernt die Unterstreichung des Links */
    transition: color 0.3s;
    /* Übergangseffekt für die Farbänderung */
}

/* Hover-Effekt */
a:hover {
    color: #009879;
    /* Farbe ändern, wenn der Benutzer über den Link fährt */
}

.welcome {
    text-align: center;
}

hr {
    border: none; /* Entfernt die Standardlinie */
    height: 1px; /* Höhe der Linie */
    background-color: darkgrey; /* Farbe der Linie */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); /* Schatten auf die Linie */
}

