body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 2px solid #009879;
    padding-bottom: 10px;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #009879;
    margin-bottom: 15px;
}

ol {
    list-style: none; /* Entfernt die Standard-Listensymbole */
    counter-reset: item; /* Initialisiert den Zähler */
    padding-left: 0; /* Entfernt Standard-Padding */
    margin-bottom: 20px;
}

ol li {
    counter-increment: item; /* Inkrementiert den Zähler für jedes Listenelement */
    margin-bottom: 10px; /* Abstand zwischen den Listenelementen */
    padding-left: 2.5em; /* Platz für den Kreis und zusätzlichen Abstand */
    position: relative; /* Ermöglicht die absolute Positionierung des Pseudoelements */
}

ol li::before {
    content: counter(item); /* Fügt die Nummerierung hinzu */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #009879; /* Farbe der Nummerierung */
    display: inline-block;
    width: 2em; /* Platz für die Nummerierung reservieren */
    height: 2em; /* Höhe für den Kreis */
    line-height: 1.5em; /* Zentriert die Zahl vertikal */
    text-align: center; /* Zentriert die Zahl horizontal */
    position: absolute; /* Positioniert das Pseudoelement absolut */
    left: 0; /* Setzt das Pseudoelement am linken Rand des Listenelements */
}

li {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    min-width: 400px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

th, td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: none;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

thead th:first-child {
    border-top-left-radius: 8px;
}

thead th:last-child {
    border-top-right-radius: 8px;
}

tbody tr:last-of-type td:first-child {
    border-bottom-left-radius: 8px;
}

tbody tr:last-of-type td:last-child {
    border-bottom-right-radius: 8px;
}

td {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
img{
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



/* Für kleine Bildschirme (Handys) */
@media only screen and (max-width: 600px) {
    /* Hier deine spezifischen Anpassungen für kleine Bildschirme */
    table {
        min-width: 0; /* Tabellenbreite auf 100% setzen */
    }
}

/* Für Tablets im Querformat */
@media only screen and (min-width: 601px) and (max-width: 900px) {
    /* Hier deine spezifischen Anpassungen für Tablets im Querformat */
    table {
        min-width: 0; /* Tabellenbreite auf 100% setzen */
    }
}

/* Für Tablets im Hochformat und kleine Desktops */
@media only screen and (min-width: 901px) and (max-width: 1200px) {
    /* Hier deine spezifischen Anpassungen für Tablets im Hochformat und kleine Desktops */
    table {
        min-width: 0; /* Tabellenbreite auf 100% setzen */
    }
}

/* Für größere Desktops */
@media only screen and (min-width: 1201px) {
    /* Hier deine spezifischen Anpassungen für größere Desktops */
    table {
        min-width: 0; /* Tabellenbreite auf 100% setzen */
    }
}